<h1>Page#contact</h1>
<p>Find me in app/views/page/contact.html.erb</p>

<%= link_to "Home", page_home_path %><br>
<%= link_to "About", page_about_path %><br>
<%= link_to "Book", books_path %><br>
<%= link_to "Author", authors_path %><br>
<%= link_to "Apprentice", apprentices_path %><br>
<%= link_to "Publisher", publishers_path %><br>
<%= link_to "Store", bookpublishes_path %><br>
<%= link_to "Contact", page_contact_path %><br>